// $primary:rgb(29,29,29);
// $primary_dark:rgb(18,18,18);
// $secondary:rgb(237,86,21);
// $secondary_dark:rgb(197,72,18);
// $tertiary:#fff;

$primary: #363062;
$primary_dark:#4D4C7D;
$secondary:#827397;
$secondary_dark:#D8B9C3;
$tertiary:#fff;